.detail {
  padding-right: 0.15em;
  padding-top: 0.15em;
}

.description {
  white-space: pre-wrap;
}
.ul {
  display: flex;
  flex-direction: row;
  padding: 0 0.2em;
  margin: 0.3em 0.2em;
}
.tag {
  list-style: none;
  color: #065fd4;
  font-size: 14px;
  margin-right: 0.8em;
  cursor: pointer;
}
.title {
  margin: 0.1em 0.2em;
}

.channel {
  margin: 0.1em 0.2em;
}
