li {
  list-style: none;
}

.detail {
  padding: 1em;
  color: #ffffff;
}

.description {
  white-space: pre-wrap;
}
.ul {
  display: flex;
  flex-direction: row;
  padding: 0 0.2em;
  margin: 0.3em 0.2em;
}
.tag {
  list-style: none;
  color: #3ea6ff;
  font-size: 14px;
  margin-right: 0.8em;
  cursor: pointer;
}
.title {
  margin: 0.1em 0.2em;
}

.channel {
  margin: 0.1em 0.2em;
}

.statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid lightgrey;
  color: #909090;
}

.static__left {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #909090;
}

.action {
  margin-left: 0.2em;
}
@media (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: 1em;
  }
  .statistic {
    justify-content: flex-start;
  }
  .static__left {
    font-size: 0.45em;
  }
  .actions {
    font-size: 0.3em;
    padding: 5px;
  }
  .action {
    font-size: 0.35em;
    margin-left: 0;
    padding: 0;
    display: none;
  }

  .button {
    padding: 3px;
  }
  /* .statistic {
    flex-direction: column;
  } */
}
