.container {
  padding: 0.2em;
  margin-top: 20px;
  /* width: 25%; */
}

.list {
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: row;
}

.grid {
  width: 25rem;
  /* height: 20em; */
}

.video_grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 250ms ease-in;
  padding: 0.4rem;
}

.video:hover {
  transform: scale(1.02);
}

.video_list {
  display: flex;
}

.metadata_grid {
  margin-left: 0.6em;
}

.meta_list {
  font-size: 0.7rem;
}

.thumbnail {
  width: 100%;
  height: 210px;
}

.thum_list {
  width: 10rem;
  height: 130px;
}

.title {
  margin: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
}

.channel {
  margin: 0 2rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #9c9c9c;
}

@media screen and (max-width: 100rem) {
  .grid {
    width: 25%;
  }
}

@media screen and (max-width: 84rem) {
  .grid {
    width: 33%;
  }
}
@media screen and (max-width: 62rem) {
  .thum_list {
    /* width: 20%; */
    height: 100%;
  }
  .grid {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 540px) {
  .container {
    width: 100%;
  }
  .grid {
    width: 100%;
  }
}
