.box {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0.4em;
}
.logo {
  margin-left: 0.4em;
  margin-right: 0.5em;
}

.name {
  margin-right: 5em;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}

.input {
  width: 60%;
  height: 3em;
  outline: 0;
}

.searchBtn {
  height: 13.5em;
  width: 24em;
  background-color: darkgray;
  color: white;
  font-size: 0.2em;
  outline: 0;
}

.search {
  height: 60%;
  padding: 0.5em 0.2em;
}
